export CLUSTER_NAME="YOUR-CLUSTER-NAME"
export AWS_REGION=YOUR-AWS-REGION
export AWS_EMR_LABEL=EMR-LABEL ex)emr-4.7.1
export NUM_TASK_INSTANCE=3
export TASK_SPOT_BID_PRICE=TASK-SPOT-INSTANCE-BID-PRICE ex)0.06
export EC2_TYPE=EC2-INSTANCE-TYPE ex)m3.xlarge
export EMR_LOG_URI="s3n://YOUR-BUCKET//YOUR-PATH-FOR-AWS-LOG/elasticmapreduce/"
export AWS_KEY_NAME=EMR-KEY-NAME
export AWS_KEY_PATH="AWS-KEY-FILE-PATH(include .pem)"
export AWS_S3_ACCESS_KEY=AWS-S3-ACCESS-KEY-FOR-NOTEBOOK-SYNC
export AWS_S3_SECRET_KEY=AWS-S3-SECRET-KEY-FOR-NOTEBOOK-SYNC
export EMR_MASTER_SG=YOUR-EMR-MASTER-SECURITY-GROUP
export EMR_SLAVE_SG=YOUR-EMR-SLAVE-SECURITY-GROUP
